.node {
    width: 25px;
      height: 25px;
      outline: 1px solid rgb(14, 56, 88);
      display: inline-block;
      /* border-radius: 50%;    */       
} 

.node-finish {
  background-color: red;
}

.node-start {
  background-color: green;
}